:root {
  --avatar-size: 4.5em;
  --avatar-pad: 0.75em;
}

h1 {
  margin-top: 0.25em;
}
h2 {
  margin-top: 0.5em;
}

.general table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.daily-stats .svg-container>svg {
  width: 100%;
  height: 100%;
}
.daily-stats .svg-container>svg * {
  vector-effect: non-scaling-stroke;
}

.daily-stats .page-views {
  stroke: hsla(200, 80%, 60%, 0.8);
  fill: hsla(200, 100%, 70%, 0.3);
}
.daily-stats text.page-views {
  stroke: none;
  fill: hsla(200, 80%, 60%, 0.8);
}

.daily-stats .downloads {
  stroke: hsla(100, 80%, 40%, 0.8);
  fill: hsla(100, 100%, 70%, 0.3);
}
.daily-stats text.downloads {
  stroke: none;
  fill: hsla(100, 80%, 40%, 0.8);
}

.daily-stats .line {
  fill: none;
  stroke-width: 1px;
}
.daily-stats .area {
  stroke: none;
}
.daily-stats .grid line {
  stroke: #DDD;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.daily-stats .grid path {
  stroke-width: 0;
}

.daily-stats .legend-wrapper {
  stroke: silver;
  fill: rgba(255, 255, 255, 0.8);
}
.daily-stats text.legend {
  dominant-baseline: central;
  text-anchor: left;
  font-size: 12px;
  stroke: none;
}

.daily-stats .line.page-views-avg {
  fill: none;
  stroke: hsla(200, 80%, 40%, 1);
  stroke-width: 1px;
}
.daily-stats .line.downloads-avg {
  fill: none;
  stroke: hsla(100, 80%, 20%, 1);
  stroke-width: 1px;
}

.comments .text {
  overflow-wrap: break-word;
}
.comments .text img {
  max-width: 100%;
}
.comments .text blockquote {
  border-left: 3px solid #DDD;
  padding-left: 0.5em;
}

.comments>li {
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.5em calc(var(--avatar-size) + var(--avatar-pad) + 0.5em);
  min-height: calc(var(--avatar-size) + 2px);
}
.comments .avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  position: absolute;
  margin-left: calc(-1 * var(--avatar-size) - var(--avatar-pad));
}

.requests p:last-child {
  margin-bottom: 0;
}

.requests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.requests li {
  overflow: hidden;
  min-width: 0;
  word-wrap: break-word;
}
.requests .card-body {
  display: flex;
}
.requests .card-body>a {
  flex: 1;
  align-self: start;
  margin-right: 1em;
}
.requests .card-body>a>img {
  width: 100%;
}
.requests .card-body>div {
  flex: 3;
}

.requests-lite {
  font-size: smaller;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.requests-lite li {
  text-align: center;
  justify-self: center;
  align-self: center;
}
.requests-lite img {
  max-width: 100%;
  max-height: 15em;
}
.requests-lite span {
  display: block;
}
